{% if DEFAULT_PAGINATION and (articles_page.has_previous() or articles_page.has_next()) %}
            <div class="clear"></div>

            <div class="pages">
                {% if articles_page.has_previous() %}
                <a href="{{ SITEURL }}/{{ articles_previous_page.url }}" class="prev_page" title="Go to page {{ articles_page.previous_page_number() }}">&larr;&nbsp;Previous</a>
                {% endif %}
                {% if articles_page.has_next() %}
                <a href="{{ SITEURL }}/{{ articles_next_page.url }}" data-next_page="{{ articles_page.next_page_number() }}" data-num_pages="{{ articles_paginator.num_pages }}" class="next_page" title="Go to page {{ articles_page.next_page_number() }}">Next&nbsp;&rarr;</a>
                {% endif %}
                <span>Page {{ articles_page.number }} of {{ articles_paginator.num_pages }}</span>
            </div>
{% endif %}
